.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #1A1917;
    background-color: #FFB548;
    background-image: linear-gradient(180deg, #FFB548 10%, #F3AF34 90%);
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(180deg, #F3AF34 10%, #FFCC48 90%);
}

@media (min-width: 768px) {
    .button {
        border-radius: 4px;
        padding: 18px 15px;
        font-size: 16px;
        line-height: 24px;
    }
}

.button__price {
    position: relative;
    padding-left: 9px;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .button__price {
        padding-left: 15px;
        margin-left: 14px;
    }
}

.button__price::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: #1A1917;
    opacity: 0.5;
}